/* Creates sticky nav bar */
.navbar {
  height: 50px;
  width: 100%;
  margin-bottom: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-fixed-bottom {
  position: relative;
}

#myName {
  font-size: 62px;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 40vh;
  color: lightgrey;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 1px black;
  font-family: 'Monserrat', sans-serif;
}

#myTitle {
  font-size: 36px;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 50px;
  color: lightgrey;
  font-weight: bold;
  font-family: 'Monserrat', sans-serif;
  text-shadow: 0.5px 0.5px 1px black;
}

#myInfo {
  line-height: 25px;
  font-size: 18px;
}

#name {
  position: relative;
  text-align: center;
  position: center;
}

#home {
 /* height: calc(100% - 50px);*/
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),url(../images/hiking.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

#aboutSection {
  height: 100vh;
  background-color: lightgrey;
  padding-top: 50px;
}

#projectsSection {
  height: 100vh;
  background-color: salmon;
}

#contactSection {
  height: 100vh;
  background-color: lightgrey;
}

.content {
  padding-left: 33%;
  padding-right: 33%;
}

/*  */